<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex border border-black">
      <div class="w-60 border border-red-500">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Jelly_Roll.png/50px-Jelly_Roll.png"
          class="h-32 w-full object-cover"
        />
      </div>
    </div>
  </body>
</html>
