.usersPageTitle {
  margin-bottom: 15px;
}

.user {
  list-style-type: none;
  margin-bottom: 20px;
  border: 1px solid #3c3c3c;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.user:hover {
  background-color: rgb(35, 35, 35);
}

.userName {
  font-weight: 600;
  margin-bottom: 5px;
}

.userCompanyName {
  font-weight: 400px;
  font-style: italic;
}
