.pageTitle {
  margin-bottom: 15px;
}

.userContainer {
  margin-bottom: 15px;
}

.userContainer:last-of-type {
  margin-bottom: 0;
}

.user {
  border: 1px solid var(--clr-accent);
  padding: 15px 20px;
  border-radius: var(--border-radius-normal);
  cursor: pointer;
  transition: var(--transition-normal);
}

.user:hover {
  background-color: var(--clr-bg-secondary);
}

.userName {
  font-weight: 600;
  margin-bottom: 5px;
}

.userCompanyName {
  font-weight: 400px;
  font-style: italic;
}
