.usersPageTitle {
  margin-bottom: 15px;
}

.user {
  list-style-type: none;
  margin-bottom: 20px;
  border: 1px solid var(--clr-accent);
  padding: 10px 15px;
  border-radius: var(--border-radius-normal);
  cursor: pointer;
  transition: 0.2s;
}

.user:hover {
  background-color: var(--clr-bg-secondary);
}

.userName {
  font-weight: 600;
  margin-bottom: 5px;
}

.userCompanyName {
  font-weight: 400px;
  font-style: italic;
}
