.pageTitle {
  margin-bottom: 20px;
}

.postContainer {
  margin-bottom: 15px;
}

.postContainer:last-of-type {
  margin-bottom: 0;
}

.post {
  border: 1px solid var(--clr-accent);
  padding: 15px 20px;
  border-radius: var(--border-radius-normal);
  transition: var(--transition-normal);
  cursor: pointer;
}

.post:hover {
  background-color: var(--clr-bg-secondary);
}


.postTitle {
  font-size: 1.2rem;
}

.postExcerpt {
  font-size: 0.9rem;
  color: var(--clr-font-secondary);
}